<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FinTec Project</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
      rel="stylesheet"
    />
    <link href="{% static 'bootstrap/css/styles.css' %}" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
    
    
  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" href="">FinTec </a>
      <!-- Sidebar Toggle-->
      <div style="width: 100%">
        <button
          style="float: right, padding"
          class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
          id="sidebarToggle"
          href=""
        >
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- Navbar-->
    </nav>
    <a href="https://pf.kakao.com/_NjJxixj">
      <img id="kakaofriend" src="{% static 'bootstrap/image/kakao.jpg' %}" > 
    </a>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">법인별 농산물 가격 비교</div>
              <a class="nav-link" href="">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                법인별 가격
              </a>
              <div
                class="collapse"
                id="collapseLayouts"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion"
              >
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">법인별 농산물 가격 비교</h1>
            <form action="" method="get" id="checkform">
              <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">법인
                  <p>
                    <select id="company-list" name="company-list">
                      <option value="c0">중앙청과</option>
                      <option value="c1">서울청과</option>
                      <option value="c2">동화청과</option>
                      <option value="c3">농협가락(공)</option>
                      <option value="c4">한국청과</option>
                    </select>
                  </p>
                </li>
                <li class="breadcrumb-item">품목
                  <p>
                    <select id="item-list" name="item-list">
                      <option value="g0">풋고추-청양-특</option>
                      <option value="g1">새송이-새송이(일반)-특</option>
                    </select>
                  </p>
                </li>
                <input type="button" id='btn' name='btn' onclick="movepage()" value="검색"></button>
              </ol>
            </form>
            <hr />
            <div class="row">
              <div class="col-xl-7">
                <div class="card mb-5" style="width: 90%">
                  <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    오늘 실제가과 예측가 ({{this_info.CPR_NM}}의 {{this_info.PRDLST_NM}})
                  </div>
                  <div class="card-body">
                    <canvas id="myBarChart" width="100%" height="40"></canvas>



                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="card mb-3" id="resultbox">
                  {{this_info.CPR_NM}}의 {{this_info.PRDLST_NM}}
                    <div id="dates">
                  </div>
                  <div class="error">
                    예측가-실제가 :  
                      {% if this_info.PRI_PRED|sub:this_info.PRI_AVE > 0 %}
                      <span id="errorval" style='color: red;'>+{{this_info.PRI_PRED|sub:this_info.PRI_AVE}}</span>
                      {% else %}
                      <span id="errorval" style='color: blue;'>{{this_info.PRI_PRED|sub:this_info.PRI_AVE}}</span>
                      {% endif %}
                      <br>
                      {% if is_error %}
                      <span id="errorval" style='color: red;'>!!이상 감지!!</span><span style="font-size: 18px;">(정상범위 : {{mean_error}} 내)</span>
                      {% endif %}
                    </div>
                  <p class="price">
                    <ul id="pricelist" style="list-style-type: square;">
                      <li id="predit">오늘 예측가 : {{this_info.PRI_PRED}}</li>
                      <li id="avg">실제 평균가 : {{this_info.PRI_AVE}}</li>
                      <li id="max">실제 최고가 : {{this_info.PRI_MAX}}</li>
                      <li id="min">실제 최저가 : {{this_info.PRI_MIN}}</li>
                    </ul>
                  </p>
                  <p id="result">  
                    <span id="resultday"></span>(내일)<br>
                      내일 예측가는 <span style='color: red;'>{{next_predict}}원</span>으로 
                      오늘보다 
                      {% if next_predict > this_info.PRI_AVE %}
                      <span style='color: red;'>{{next_predict|sub:this_info.PRI_AVE}}원 인상</span>될 것으로
                      {% else %}
                      <span style='color: blue;'>{{this_info.PRI_AVE|sub:next_predict}}원 인하</span>될 것으로
                      {% endif %}
                      예상됩니다.
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    법인별 최근8일의 가격 정보
                  </div>
                  <div class="card-body">
                    <canvas id="myAreaChart" width="100%" height="40"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    법인별 오늘의 가격 정보
                  </div>
                  <div class="card-body">
                    <canvas id="companyChart" width="100%" height="40"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table me-1"></i>
                {{this_info.CPR_NM}}의 {{this_info.PRDLST_NM}} 거래 목록 전체 확인
              </div>
              <div class="card-body">
                <table id="datatablesSimple">
                  <thead>
                    <tr>
                      <th>날짜</th>
                      <th>시장</th>
                      <th>법인</th>
                      <th>폼목</th>
                      <th>품질</th>
                      <th>무게</th>
                      <th>최고가</th>
                      <th>최소가</th>
                      <th>평균가</th>
                      <th>예측가</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>날짜</th>
                      <th>시장</th>
                      <th>법인</th>
                      <th>폼목</th>
                      <th>품질</th>
                      <th>무게</th>
                      <th>최고가</th>
                      <th>최소가</th>
                      <th>평균가</th>
                      <th>예측가</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if price_info %}
                    {% for info in price_info %}
                      <tr>
                          <td>{{info.DELNG_DE}}</td>
                          <td>{{info.MRKT_NM}}</td>
                          <td>{{info.CPR_NM}}</td>
                          <td>{{info.PRDLST_NM}}</td>
                          <td>{{info.GRAD}}</td>
                          <td>{{info.weight}}</td>
                          <td>{{info.PRI_MAX}}</td>
                          <td>{{info.PRI_MIN}}</td>
                          <td>{{info.PRI_AVE}}</td>
                          <td>{{info.PRI_PRED}}</td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2022</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <div></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    
    
<!--    불러오기   -->
    
    <script src="{% static 'bootstrap/js/datatables-simple-demo.js' %}"></script>
    
    <script src="{% static 'bootstrap/js/scripts.js' %}"></script>
    
<!--   그래프 부분   -->
    

    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        const d = new Date();
        const day = d.getDate();

        var dateArray = new Array(8);
        for (var i =0 ; i<dateArray.length - 1; i++){
          dateArray[i] = new Date(new Date().setDate(day- 7 + i)).toLocaleDateString();
        }
        dateArray[7] = new Date(new Date().setDate(day)).toLocaleDateString();

        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: [dateArray[0], dateArray[1], dateArray[2], dateArray[3], dateArray[4], dateArray[5], dateArray[6], dateArray[7]],
            datasets: [
              {
                label: "중앙청과",
                lineTension: 0.3,
                backgroundColor: "transparent",
                borderColor: 'rgba(255, 99, 132, 1)',
                pointRadius: 5,
                pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                pointHoverRadius: 5,
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: [{{company_info.0.0.PRI_AVE}}, {{company_info.0.1.PRI_AVE}}, {{company_info.0.2.PRI_AVE}}, {{company_info.0.3.PRI_AVE}}, {{company_info.0.4.PRI_AVE}}, {{company_info.0.5.PRI_AVE}}, {{company_info.0.6.PRI_AVE}}, {{company_info.0.7.PRI_AVE}}]
              },
              {
                label: "서울청과",
                lineTension: 0.3,
                backgroundColor: "transparent",
                borderColor: 'rgba(54, 162, 235, 1)',
                pointRadius: 5,
                pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                pointHoverRadius: 5,
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: [{{company_info.1.0.PRI_AVE}}, {{company_info.1.1.PRI_AVE}}, {{company_info.1.2.PRI_AVE}}, {{company_info.1.3.PRI_AVE}}, {{company_info.1.4.PRI_AVE}}, {{company_info.1.5.PRI_AVE}}, {{company_info.1.6.PRI_AVE}}, {{company_info.1.7.PRI_AVE}}, {{company_info.1.8.PRI_AVE}}]
              },
              {
                label: "동화청과",
                lineTension: 0.3,
                backgroundColor: "transparent",
                borderColor: 'rgba(255, 206, 86, 1)',
                pointRadius: 5,
                pointBackgroundColor: 'rgba(255, 206, 86, 1)',
                pointHoverRadius: 5,
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: [{{company_info.2.0.PRI_AVE}}, {{company_info.2.1.PRI_AVE}}, {{company_info.2.2.PRI_AVE}}, {{company_info.2.3.PRI_AVE}}, {{company_info.2.4.PRI_AVE}}, {{company_info.2.5.PRI_AVE}}, {{company_info.2.6.PRI_AVE}}, {{company_info.2.7.PRI_AVE}}, {{company_info.2.8.PRI_AVE}}]
              },
              {
                label: "농협가락(공)",
                lineTension: 0.3,
                backgroundColor: "transparent",
                borderColor: 'rgba(75, 192, 192, 1)',
                pointRadius: 5,
                pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                pointHoverRadius: 5,
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: [{{company_info.3.0.PRI_AVE}}, {{company_info.3.1.PRI_AVE}}, {{company_info.3.2.PRI_AVE}}, {{company_info.3.3.PRI_AVE}}, {{company_info.3.4.PRI_AVE}}, {{company_info.3.5.PRI_AVE}}, {{company_info.3.6.PRI_AVE}}, {{company_info.3.7.PRI_AVE}}, {{company_info.3.8.PRI_AVE}}]
              },
              {
                label: "한국청과",
                lineTension: 0.3,
                backgroundColor: "transparent",
                borderColor: 'rgba(153, 102, 255, 1)',
                pointRadius: 5,
                pointBackgroundColor: 'rgba(153, 102, 255, 1)',
                //pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                //pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: [{{company_info.4.0.PRI_AVE}}, {{company_info.4.1.PRI_AVE}}, {{company_info.4.2.PRI_AVE}}, {{company_info.4.3.PRI_AVE}}, {{company_info.4.4.PRI_AVE}}, {{company_info.4.5.PRI_AVE}}, {{company_info.4.6.PRI_AVE}}, {{company_info.4.7.PRI_AVE}}, {{company_info.4.8.PRI_AVE}}]
              },
            ],
          },
          options: {
            scales: {
              xAxes: [{
                time: {
                  unit: 'date'
                },
                gridLines: {
                  display: false
                },
                ticks: {
                  maxTicksLimit: 8
                }
              }],
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 12000,
                  maxTicksLimit: 5
                },
                gridLines: {
                  display: true,
                }
              }],
            },
            legend: {
              display: true
            }
          }
        });
    </script>
    
    
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        //const day2 = new Date().getDate();

        const day2 = new Date()

        var dateBarArray = new Array(2);
        dateBarArray[0] = new Date(new Date().setDate(day2.getDate())).toLocaleDateString() + "실제가";
        dateBarArray[1] = new Date(new Date().setDate(day2.getDate())).toLocaleDateString() + "예측가";

        // Bar Chart Example
        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [dateBarArray[0], dateBarArray[1]],
            datasets: [{
              // label: "Revenue",
              backgroundColor: "rgba(2,117,216,1)",
              borderColor: "rgba(2,117,216,1)",
              data: [ {{this_info.PRI_AVE}}, {{this_info.PRI_PRED}}],    // 오늘 실제가, 오늘 예측가
            }],
          },
          options: {
            scales: {
              xAxes: [{
                time: {
                  unit: 'date'
                },
                gridLines: {
                  display: false
                },
                ticks: {
                  maxTicksLimit: 2
                }
              }],
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 8000,
                  maxTicksLimit: 7
                },
                gridLines: {
                  display: false
                }
              }],
            },
            legend: {
              display: false
            }
          }
        });

        //--------------------------------------------------------//

        var ctx2 = document.getElementById('companyChart');
        var myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
            labels: ['중앙청과', '서울청과', '동화청과', '농협가락(공)', '한국청과'],
            datasets: [{
                data: [{{company_info.0.7.PRI_AVE}}, {{company_info.1.7.PRI_AVE}}, {{company_info.2.7.PRI_AVE}}, {{company_info.3.7.PRI_AVE}}, {{company_info.4.7.PRI_AVE}}],
                backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            },
            legend: {
              display: false
            }
          }
        });
    </script>

  </body>
</html>